
        <h1>
            <%= title %>
        </h1>    
        
        <section>
            <h4>Posts</h4>

            <form action="" id="new-post" method="post">
                <textarea name="post"cols="30" rows="4" placeholder="type here.."></textarea>
                <input type="submit" value="create post">
            </form>
        </section>
    


