<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codiel <%= title %>
</h1>

<div>
    <h2>Email:</h2>
    <p><%= email %></p>

    <h2>Name:</h2>
    <p><%= name %></p>
</div>
    <a href="signout">

        <button>SignOut</button>
    </a>